@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html, body {
    font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
    background:rgb(230,120,200);
}
canvas {
  display: block;
}

nav{
    padding:1rem;
}
a{
    text-decoration:none;
    
}
a#chibiides{
  font-weight:bold;
  background:black;
    color:white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        box-shadow: 5px 5px 20px blue;
    padding:1rem 2rem;
    border-radius: 10px;
}

a#chibiides:hover{
    background:pink;
    color:black;
    transition:all ease 1s;
    top:50.5%;
        box-shadow: 1px 1px 10px black;
}